* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background:#9fe0b1;
    color: #333;
}

.navbar {
    background: #2e7d32;
    padding: 18px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h2 {
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
}

.title {
    text-align: center;
    color: #2e7d32;
    margin-bottom: 30px;
}

.search-box {
    text-align: center;
    margin-bottom: 30px;
}

.search-box input {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

button,
.btn {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 11px 20px;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

button:hover,
.btn:hover {
    background: #1b5e20;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 25px;
}

.product-card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
}

.product-card h3 {
    color: #2e7d32;
    margin-bottom: 15px;
}

.product-card p {
    margin: 8px 0;
}

.order-card {
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
}

.form-box {
    background: white;
    width: 450px;
    max-width: 90%;
    margin: 40px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.12);
}

.form-box input,
.form-box select {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.footer {
    text-align: center;
    background: #2e7d32;
    color: white;
    padding: 20px;
    margin-top: 50px;
}